 header {
     padding: 20px 120px 20px 120px;
     border-bottom: 1px solid #eee;
     background-color: #eee;
 }

 section {
     margin-left: 120px;
     margin-right: 120px;
 }

 footer {
     padding: 20px 120px 20px 120px;
     background-color: #eee;
 }

 .thank-you {
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #656565;
     border-radius: 8px;
     overflow: hidden;
 }

 body {
     font-family: monospace;
 }

 .otto {
     font-family: monospace;
     margin-top: 20px;
     color: #eee;
     text-shadow: 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25);
 }
